/* === Layout === */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2017/02/18/01/27/background-2076336_1280.jpg);
    background-size: cover;
}