/* === Layout === */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(120deg, #eef2ef, #c7f4c6);
    background-image: url(https://cdn.pixabay.com/photo/2017/02/18/01/27/background-2076336_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

}

.data-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.data-table td,
.data-table th {
    padding: 5px;
    border: 1px solid black;
}